# ssh -NnT  -R 0.0.0.0:80:127.0.0.1:80 -R 0.0.0.0:443:127.0.0.1:443 root@fedproxy.com
# sudo -E caddy run --config Caddyfile
#
# ssh -NnT -p 2222 -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o PasswordAuthentication=no -R spindle-0001:80:127.0.0.1:8080 johnandersen777.bsky.social@localhost
# clear; rm -rf /tmp/ssh-fwd-*; THIS_ENDPOINT=fedproxy.com CADDY_SOCK=${PWD}/caddy-admin.sock go run cmd/atprp-ssh-relay/main.go
# curl -v --unix-socket caddy-admin.sock http://127.0.0.1/config/ | jq
{
	# Expose Caddy’s admin API on a Unix socket
	admin unix/{env.PWD}/caddy-admin.sock
	log default {
		level debug
	}
}

# Listen on a Unix socket
https://fedproxy.com {
	reverse_proxy unix/{env.PWD}/web-ui.sock
}
